/* loading screen animation */
.loading_overlay {position: fixed; top: 0; left: 0; width: 100%; height: 100%; background-color: #ffffff; opacity: 0.5; z-index: 3; display: none;}
.loading_content {margin: 0; position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); z-index: 3; display: none;}
.lds-ellipsis {display: inline-block; position: relative; width: 64px; height: 64px;}
.lds-ellipsis div {position: absolute; top: 27px; width: 11px; height: 11px; border-radius: 50%; background: #ffffff; animation-timing-function: cubic-bezier(0, 1, 1, 0);}
.lds-ellipsis div:nth-child(1) {left: 6px; animation: lds-ellipsis1 0.6s infinite;}
.lds-ellipsis div:nth-child(2) {left: 6px; animation: lds-ellipsis2 0.6s infinite;}
.lds-ellipsis div:nth-child(3) {left: 26px; animation: lds-ellipsis2 0.6s infinite;}
.lds-ellipsis div:nth-child(4) {left: 45px; animation: lds-ellipsis3 0.6s infinite;}
@keyframes lds-ellipsis1
{
    0% {transform: scale(0);}
    100% {transform: scale(1);}
}
@keyframes lds-ellipsis3
{
    0% {transform: scale(1);}
    100% {transform: scale(0);}
}
@keyframes lds-ellipsis2
{
    0% {transform: translate(0, 0);}
    100% {transform: translate(19px, 0);}
}

/* cropper */
.cropper_container {position: fixed; top: 56px; width: 100%; height: calc(100% - 114px);}
.cropper_box {position: absolute; top: 56px; width: 100%; height: calc(100% - 114px); background: rgb(206, 206, 206); z-index: 2; display: none;}
.cropper_footer {position: fixed; bottom: 0; width: 100%; padding: 10px; text-align: center; background: rgb(206, 206, 206); z-index: 2; display: none;}

/* livechat */
body {margin: 0px; border-radius: 10px; font-family: Arial;}
.header {width: 100%; border-radius: 10px 10px 0px 0px; text-align: center;}
.content {overflow: scroll; overflow-x: hidden;}
.footer {width: 100%; border-radius: 0px 0px 10px 10px;}
.textbox {font-family: Arial; width: calc(100% - 20px); padding: 15px 10px 20px 10px; border-radius: 0px 0px 10px 10px; border: 0px; outline: none; resize: none;}
.visitor_chat {padding: 10px; text-align: right;}
.visitor_message {max-width: calc(100% - 80px); text-align: left; padding: 10px 15px; border-radius: 10px; display: inline-block;}
.admin_chat {padding: 10px; text-align: left;}
.admin_message {max-width: calc(100% - 80px); text-align: left; padding: 10px 15px; border-radius: 10px; display: inline-block;}